#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
  padding-bottom: 10px;
 
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #DEB887;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list a {
  color: #5D478B;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header {
  padding-top: 10px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
}
.page-header{
	text-align: center;
}
#main-content {
	color: #5D478B;
	font-family: 'Lora', serif;
	background-color: #EED8AE;
	margin-top: 80px;
}
@media (max-width: 767px) {
  #main-content{
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
  }
} 
