.sign{
	font-style: italic;
	font-size: 20px;
	text-align: left;
}
#icon{
	height: 300px;
}
.jumbotron {
	background-image: url(http://static.vecteezy.com/system/resources/previews/000/094/491/original/polygonal-texture-background-vector.jpg);
    
}
