
#logo-img {
  margin-left: 285px;
  }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-header{
  padding-top: 10px;
  padding-bottom: 20px;
  clear: both;
  margin-left: 0;
  margin-right: 0;
}

#verticalLine{
  margin-right: 27px;
  margin-left: 27px;
  float: left;
  width: 2px;
  height: 100px;
  background-color: black;
}

h2 {
  float: left;
  font-size: 20px;
}

#headerp {
  float: left;
  width: 55%;
}

.container {
  padding-left: 0px;
  padding-right: 0px;

}

#bg {
  background-image: url(jpg/back.png);
background-color: #1f0b5a;
color: white;
height: 3000px;
width: 1920px;
overflow: hidden;
}

#micro {
  background-image: url(jpg/bg2.png)
  width: 1920px;
}

#chel {
  margin-top: -1132px;
  margin-left: -127px;
}

#mfon {
 margin-top: -100px;
}

#chil {
  margin-left: 327px;
  margin-top: -143px;
}

#onchel {
  margin-top: -490px;
  margin-left: 1000px;
}

#vkpic {
  margin-top: -460px;
  margin-left: 1000px;
}
#youpic {
 margin-top: -460px;
 margin-left: 20px;
}

#port {
  margin-top: 185px;
  margin-left: -1002px;
}
#onchil {
  font-size: 4em;
  margin-left: 740px;
  margin-top: -310px;
}
#bottomchil {
  margin-left: 719px;
  margin-top: 150px;
}
#shadow {
  height: 100px;
  width: 1263px;
  background-color: black;
  opacity: 0.3;
  margin-top: -80px;
  margin-left: 327px;
}

#content {
  height: 2000px;
  width: 1263px;
  border-bottom-style: ;
  margin-left: 327px;
  margin-top: -20px;
  background-color: white;
  padding-top: 50px;
  padding-left: 116px;
  color: black;
}

#video {
  margin-top: 35px;
  margin-bottom: 35px;
}
#numb{
  float: right;
  margin-top: -450px;
  margin-right: 70px;
  font-size: 150px;
  color: #1f0b5a;
}

hr {
  width: 1036px;
  margin-left: -111px;
  margin-bottom: 70px;
  margin-top: 40px;
  height: 3px;
  background-color:  black;
}
.foot{
  width: 1920px;
  height: 150px;
  background-color: #1f0b5a;
}
#foot {
  margin-left: 920px;
  margin-top: 20px;
  color: white;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}